---
import { Image } from "astro:assets";
---

<section>
    <h2>NUESTROS ENCUENTROS SON DIRIGIDOS A</h2>
    <div class="encuentros">
        <div class="encuentros-text">
            <p>
                Nuestros eventos de caminatas, organizados por <em>Biapora</em>, están cuidadosamente diseñados 
                para atraer a una amplia gama de participantes, desde los apasionados senderistas experimentados 
                hasta los principiantes que desean aventurarse por primera vez en el mundo del trekking. 
                Nos dirigimos a aventureros de todas las edades, familias en busca de experiencias al aire libre, 
                grupos de amigos deseosos de compartir momentos especiales en la naturaleza, y entusiastas 
                del ecoturismo que buscan sumergirse en los paisajes exóticos del Guaviare. 
                Cada evento está adaptado para ofrecer rutas que se ajusten a diferentes niveles de habilidad y condición física, 
                garantizando que todos puedan disfrutar de la belleza de la región de manera segura y gratificante.
            </p>
            <p>
                Además, nuestros eventos están orientados a quienes valoran la sostenibilidad y el respeto por el medio ambiente, 
                proporcionando experiencias enriquecedoras que fomentan la conservación de los ecosistemas únicos de nuestra región. 
                La participación en nuestros eventos no solo ofrece la oportunidad de explorar impresionantes formaciones naturales y biodiversidad, 
                sino también de aprender sobre la importancia de preservar estos maravillosos recursos. Únete a nosotros para vivir una aventura 
                inolvidable que combina la emoción del senderismo con la oportunidad de conectarte profundamente con la naturaleza y con otros 
                entusiastas del mundo natural. ¡Estamos aquí para ayudarte a descubrir y apreciar la grandeza del Guaviare en cada paso de tu travesía!
            </p>
        </div>
        <div class="encuentros-image-desktop">
            <Image src="https://storage.googleapis.com/andantes-del-guaviare/01-andantes-del-guaviare.jpg" alt="Image" width="600px" height="300px" class="img-desktop"/>
        </div>
        <div class="encuentros-image-mobile">
            <Image src="https://storage.googleapis.com/andantes-del-guaviare/01-andantes-del-guaviare.jpg" alt="Image" width="320px" height="150px" class="img-mobile"/>
        </div>
    </div>
</section>

<style>

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .encuentros {
        display: flex;
        flex-direction: row;
        width: 1200px;
        align-items: center;
        margin-top: 20px;
    }

    .encuentros-text {
        text-align: justify;
    }

    .encuentros-text p:nth-child(2) {
        margin-top: 20px;
    }

    .encuentros-text em {
        font-weight: bold;
    }

    section h2 {
        text-align: center;
    }

    section .encuentros-image-desktop {
        margin-left: 30px;
    }

    section .encuentros-image-mobile .img-mobile {
        display: none;
    }

    @media (max-width: 768px) {
        section h2 {
            font-size: 18px;
        }

        section .encuentros-image-desktop .img-desktop {
            display: none;
        }

        section .encuentros-image-mobile .img-mobile {
         display: block;
        }

        section .encuentros {
            display: flex;
            flex-direction: column;
            width: 320px;
        }

        section .encuentros-text {
            width: 320px;
            font-size: 14px;
        }

        section .encuentros-image-mobile {
            margin-top: 20px;
        }


    }
</style>