---

---


<section>
    <div class="mision">
        <h2>Misión</h2>
        <p>
            Para el año 2034, ASOBIANTES aspira a contar con 1,000 asociados dedicados a la caminería,
            promoviendo el conocimiento y la conservación del medio ambiente en el Guaviare y sus regiones cercanas. 
            Nuestra meta es convertirnos en una de las asociaciones más activas en la promoción de caminatas juveniles, 
            fomentando que los jóvenes utilicen su tiempo libre de manera productiva, alejados del sedentarismo y
            la tecnología, y que descubran y valoren su región y Colombia. 
            
        </p>
        <p>
            Nos comprometemos a posicionar 
            al Guaviare no solo a nivel nacional, sino también internacional, destacando su papel como pulmón del mundo.  
            Queremos abrir nuevos senderos en la selva virgen para que las personas puedan explorar los senderos 
            ecológicos del llano y la selva, impulsando el turismo sostenible y la apreciación de nuestra biodiversidad.
        </p>
    </div>
    <div class="vision">
        <h2>Visión</h2>
        <p>
            La visión de ASOBIANTES es convertirse en un referente en la planificación, promoción y ejecución de actividades 
            recreativas en la naturaleza para nuestros asociados. Nos enfocamos en fomentar la caminería como una práctica que 
            permite la interrelación con la naturaleza, facilitando el descubrimiento, observación y comprensión de conceptos ecológicos, 
            ambientales, sociales, cívicos y culturales. 
        </p>
        <p>  
            Nuestro objetivo es capacitar y sensibilizar a la comunidad sobre la importancia 
            de preservar y conservar nuestro hábitat, mientras promovemos un estado de salud físico-mental óptimo. 
            Aspiramos a generar un cambio de actitud en la sociedad, contribuyendo al desarrollo armónico de la región, 
            y posicionando al Guaviare como un ejemplo de convivencia sostenible con la naturaleza.
    </div>
</section>

<style>
    section {
        background-color: #17ab5c;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 30px;
        color: white;
    }

    section h2 {
        text-align: left;
        color: white;
    }

    section div {
        width: 1200px;
    }

    section div p {
        text-align: justify;
        margin-top: 20px;
    }

    section .mision {
        margin-top: 20px;
    }

    section .vision {
        margin-top: 20px;
        margin-bottom: 20px;
    }


    @media (max-width: 768px) {
        section div {
            width: 320px
        }

        section div h2 {
            font-size: 18px
        }

        section div p {
            font-size: 14px
        }
    }


</style>