---
import { Image } from "astro:assets";
---

<section>
    <h2>¡Bienvenidos al Espacio de Noticias y Comunicados de Biapora!</h2>
    <div class="container">
        <div class="texto-principal">
            <p>
                En esta sección, encontrarás las últimas actualizaciones, anuncios importantes y comunicados oficiales 
                relacionados con nuestros eventos y actividades. Nos dedicamos a mantenerte informado sobre todo lo que 
                necesitas saber para participar en nuestras caminatas y aventuras al aire libre. Aquí compartiremos detalles 
                sobre próximos eventos, cambios en la programación, noticias sobre nuestras iniciativas y proyectos especiales, 
                así como recomendaciones útiles para que puedas aprovechar al máximo cada experiencia con nosotros. 
                Te invitamos a visitar regularmente esta sección para estar al tanto de toda la información relevante y 
                asegurarte de que no te pierdas ninguna novedad de Biapora. ¡Gracias por ser parte de nuestra comunidad y 
                por compartir nuestra pasión por la naturaleza y el senderismo!
            </p>
        </div>
        <div class="comunicados">
            <div class="comunicado">
                <div class="titulo">
                    <h3>Comunicado 1</h3>
                </div>
                <div class="contenido-comunicado">
                    <div class="sub-contenido">
                        <span> 1. ⁠Aceptación de los Términos</span>
                        <p>
                            Al inscribirse y participar en el 1er ENCUENTRO REGIONAL DE CAMINANTES 2024 (en adelante, "el Evento"), 
                            usted acepta cumplir con estos Términos y Condiciones. Si no está de acuerdo con alguna de las disposiciones, 
                            le solicitamos que no participe en el Evento.
                        </p>
                    </div>
                    <div class="sub-contenido">
                        <span> 2. ⁠Aceptación de los Términos</span>
                        <p>
                            La inscripción al Evento debe completarse a través de los canales oficiales proporcionados por Biapora.
                            Los participantes deberán proporcionar información precisa y actualizada durante el proceso de registro.
                            El cupo es limitado y las inscripciones se aceptarán por orden de llegada hasta llenar el número máximo de participantes.
                        </p>
                    </div>
                    <div class="sub-contenido">
                        <span> 3. Pago y Política de Reembolso</span>
                        <p>
                            El costo de participación debe ser abonado en su totalidad al momento de la inscripción.
                            Las tarifas y fechas límite de pago serán detalladas en el sitio web oficial del Evento.
                            Los reembolsos solo se procesarán si la solicitud se recibe al menos 30 días antes de la fecha del Evento. 
                            En caso de cancelación por parte del participante con menos de 30 días de antelación, no se efectuará reembolso.
                            En caso de cancelación del Evento por motivos de fuerza mayor o circunstancias imprevistas, Biapora no será 
                            responsable por gastos adicionales incurridos por los participantes.

                        </p>
                    </div>
                    <div class="sub-contenido">
                        <span> 4. Requisitos de Participación</span>
                        <p>
                            Todos los participantes deben tener al menos 18 años de edad o contar con la autorización y acompañamiento de un adulto responsable.
                            Los participantes deben cumplir con los requisitos físicos y médicos necesarios para realizar las caminatas. Es recomendable consultar 
                            a un médico antes de participar.Se requiere que los participantes asistan a una sesión informativa previa al Evento, 
                            que será programada por Biapora.
                        </p>
                    </div>
                    <div class="sub-contenido">
                        <span> 6. Responsabilidad y Exoneración de Responsabilidad</span>
                        <p>
                            Los participantes asumen toda la responsabilidad por cualquier lesión, pérdida o daño que pueda ocurrir durante el Evento.
                            Biapora y sus afiliados no se hacen responsables por lesiones personales, daños a la propiedad o pérdidas que puedan ocurrir durante el Evento.
                            Al participar, los asistentes aceptan exonerar a Biapora de cualquier responsabilidad relacionada con el Evento.

                        </p>
                    </div>
                    <div class="sub-contenido">
                        <span>7.  ⁠Fotografías y Medios</span>
                        <p>
                            Al participar en el Evento, los asistentes consienten el uso de sus imágenes y videos para fines promocionales y de marketing por parte de Biapora.
                            Los participantes pueden solicitar la exclusión de su imagen de los materiales promocionales enviando una solicitud por escrito a la organización.
                        </p>
                    </div>
                    <div class="sub-contenido">
                        <span>8. Modificaciones y Cancelación</span>
                        <p>
                            Biapora se reserva el derecho de modificar estos Términos y Condiciones, así como cualquier aspecto del Evento, en caso de ser necesario.
                            En caso de modificaciones significativas, los participantes serán notificados con la mayor antelación posible.

                        </p>
                    </div>
                    <div class="sub-contenido">
                        <span>9. ⁠Ley Aplicable</span>
                        <p>
                            Estos Términos y Condiciones se regirán por las leyes vigentes en la jurisdicción donde se lleva a cabo el Evento.
                        </p>
                    </div>
                    <div class="sub-contenido">
                        <span>10. ⁠Ley Aplicable</span>
                        <p>
                            Para cualquier consulta relacionada con estos Términos y Condiciones o el Evento, por favor comuníquese con nosotros a través de <em>biapora@gmail.com</em> o <em>310-222-2323</em>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="comunicado">
                <div class="titulo">
                    <h3>Comunicado 2</h3>
                </div>
                <div class="contenido-comunicado">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, quia! Dolores, doloremque, voluptatem, 
                        doloribus, voluptas, quisquam, quos, dolores, consequuntur, velit, fugiat, asperiores, 
                        voluptatibus, dolorem, quibusdam, quod, molestiae, voluptatum, eaque, quaerat, 
                        aspernatur, quidem, voluptas, doloremque, consequatur, vel, quam, asperiores, 
                        quibusdam, voluptatibus, dolorem, quisquam, quos, dolores, consequuntur, velit, 
                        fugiat, asperiores, voluptatibus, dolorem, quibusdam, quod, molestiae, voluptatum, 
                        eaque, quaerat, aspernatur, quidem, voluptas, doloremque, consequatur, vel, quam,      
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>

    section {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .container {
        width: 80%;
        text-align: left;
    }

    .texto-principal {
        margin-top: 20px;
        text-align: justify;
    }

    .comunicados {
        margin-top: 50px;
    }

    .comunicado {
        margin-top: 40px;
    }

    .titulo {
        font-size: 1.2rem;
        font-weight: bold;
        background-color: #17ab5c;
        padding: 10px;
        border-radius: 10px;
    }

    .contenido-comunicado {
        margin-top: 20px;
    }

    .contenido-comunicado .sub-contenido {
        margin-top: 20px;
    }

    .contenido-comunicado .sub-contenido span {
        font-weight: bolder;
    }

    .contenido-comunicado .sub-contenido p {
        margin-top: 10px;
        margin-left: 20px;
    }
</style>