---
import { Image } from "astro:assets";
---

<section>
    <h2>NOTICIAS - COMUNICADOS</h2>
    <div class="container">
        <div class="texto-principal">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, quia! Dolores, doloremque, voluptatem, 
                doloribus, voluptas, quisquam, quos, dolores, consequuntur, velit, fugiat, asperiores, 
                voluptatibus, dolorem, quibusdam, quod, molestiae, voluptatum, eaque, quaerat, 
                aspernatur, quidem, voluptas, doloremque, consequatur, vel, quam, asperiores, 
                quibusdam, voluptatibus, dolorem, quisquam, quos, dolores, consequuntur, velit, 
                fugiat, asperiores, voluptatibus, dolorem, quibusdam, quod, molestiae, voluptatum, 
                eaque, quaerat, aspernatur, quidem, voluptas, doloremque, consequatur, vel, quam, 
                asperiores, quibusdam, voluptatibus, dolorem, quisquam, quos, dolores, consequuntur, 
                velit, fugiat, asperiores, voluptatibus, dolorem, quibusdam, quod, molestiae, 
                voluptatum, eaque, quaerat, aspernatur, quidem, voluptas, doloremque, consequatur, 
                vel, quam, asperiores, quibusdam, voluptatibus, dolorem, quisquam, quos, dolores.
            </p>
        </div>
        <div class="comunicados">
            <div class="comunicado">
                <div class="titulo">
                    <h3>Comunicado 1</h3>
                </div>
                <div class="contenido-comunicado">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, quia! Dolores, doloremque, voluptatem, 
                        doloribus, voluptas, quisquam, quos, dolores, consequuntur, velit, fugiat, asperiores, 
                        voluptatibus, dolorem, quibusdam, quod, molestiae, voluptatum, eaque, quaerat, 
                        aspernatur, quidem, voluptas, doloremque, consequatur, vel, quam, asperiores, 
                        quibusdam, voluptatibus, dolorem, quisquam, quos, dolores, consequuntur, velit, 
                        fugiat, asperiores, voluptatibus, dolorem, quibusdam, quod, molestiae, voluptatum, 
                        eaque, quaerat, aspernatur, quidem, voluptas, doloremque, consequatur, vel, quam,      

                </div>
            </div>
            <div class="comunicado">
                <div class="titulo">
                    <h3>Comunicado 2</h3>
                </div>
                <div class="contenido-comunicado">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, quia! Dolores, doloremque, voluptatem, 
                        doloribus, voluptas, quisquam, quos, dolores, consequuntur, velit, fugiat, asperiores, 
                        voluptatibus, dolorem, quibusdam, quod, molestiae, voluptatum, eaque, quaerat, 
                        aspernatur, quidem, voluptas, doloremque, consequatur, vel, quam, asperiores, 
                        quibusdam, voluptatibus, dolorem, quisquam, quos, dolores, consequuntur, velit, 
                        fugiat, asperiores, voluptatibus, dolorem, quibusdam, quod, molestiae, voluptatum, 
                        eaque, quaerat, aspernatur, quidem, voluptas, doloremque, consequatur, vel, quam,      

                </div>
            </div>
            <div class="comunicado">
                <div class="titulo">
                    <h3>Comunicado 3</h3>
                </div>
                <div class="contenido-comunicado">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, quia! Dolores, doloremque, voluptatem, 
                        doloribus, voluptas, quisquam, quos, dolores, consequuntur, velit, fugiat, asperiores, 
                        voluptatibus, dolorem, quibusdam, quod, molestiae, voluptatum, eaque, quaerat, 
                        aspernatur, quidem, voluptas, doloremque, consequatur, vel, quam, asperiores, 
                        quibusdam, voluptatibus, dolorem, quisquam, quos, dolores, consequuntur, velit, 
                        fugiat, asperiores, voluptatibus, dolorem, quibusdam, quod, molestiae, voluptatum, 
                        eaque, quaerat, aspernatur, quidem, voluptas, doloremque, consequatur, vel, quam,      

                </div>
            </div>
        </div>
    </div>
</section>

<style>

    section {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .container {
        width: 80%;
        text-align: left;
    }

    .texto-principal {
        margin-top: 20px;
    }

    .comunicados {
        margin-top: 50px;
    }

    .comunicado {
        margin-top: 40px;
    }

    .titulo {
        font-size: 1.2rem;
        font-weight: bold;
        background-color: #17ab5c;
        padding: 10px;
        border-radius: 10px;
    }

    .contenido-comunicado {
        margin-top: 20px;
    }
</style>