---
import { Image } from "astro:assets";
---

<section>
    <h2>¡Bienvenidos al Espacio de Noticias y Comunicados de Biapora!</h2>
    <div class="container">
        <div class="texto-principal">
            <p>
                En esta sección, encontrarás las últimas actualizaciones, anuncios importantes y comunicados oficiales 
                relacionados con nuestros eventos y actividades. Nos dedicamos a mantenerte informado sobre todo lo que 
                necesitas saber para participar en nuestras caminatas y aventuras al aire libre. Aquí compartiremos detalles 
                sobre próximos eventos, cambios en la programación, noticias sobre nuestras iniciativas y proyectos especiales, 
                así como recomendaciones útiles para que puedas aprovechar al máximo cada experiencia con nosotros. 
                Te invitamos a visitar regularmente esta sección para estar al tanto de toda la información relevante y 
                asegurarte de que no te pierdas ninguna novedad de Biapora. ¡Gracias por ser parte de nuestra comunidad y 
                por compartir nuestra pasión por la naturaleza y el senderismo!
            </p>
        </div>
        <div class="comunicados">
            <div class="comunicado">
                <div class="titulo">
                    <h3>Comunicado 1 - Términos y Condiciones</h3>
                </div>
                <div class="contenido-comunicado">
                    <div class="sub-contenido">
                        <span> 1. ⁠Aceptación de los Términos</span>
                        <p>
                            Al inscribirse y participar en el 1er ENCUENTRO REGIONAL DE CAMINANTES 2024 (en adelante, "el Evento"), 
                            usted acepta cumplir con estos Términos y Condiciones. Si no está de acuerdo con alguna de las disposiciones, 
                            le solicitamos que no participe en el Evento.
                        </p>
                    </div>
                    <div class="sub-contenido">
                        <span> 2. ⁠Aceptación de los Términos</span>
                        <p>
                            La inscripción al Evento debe completarse a través de los canales oficiales proporcionados por Biapora.
                            Los participantes deberán proporcionar información precisa y actualizada durante el proceso de registro.
                            El cupo es limitado y las inscripciones se aceptarán por orden de llegada hasta llenar el número máximo de participantes.
                        </p>
                    </div>
                    <div class="sub-contenido">
                        <span> 3. Pago y Política de Reembolso</span>
                        <p>
                            El costo de participación debe ser abonado en su totalidad al momento de la inscripción.
                            Las tarifas y fechas límite de pago serán detalladas en el sitio web oficial del Evento.
                            Los reembolsos solo se procesarán si la solicitud se recibe al menos 30 días antes de la fecha del Evento. 
                            En caso de cancelación por parte del participante con menos de 30 días de antelación, no se efectuará reembolso.
                            En caso de cancelación del Evento por motivos de fuerza mayor o circunstancias imprevistas, Biapora no será 
                            responsable por gastos adicionales incurridos por los participantes.

                        </p>
                    </div>
                    <div class="sub-contenido">
                        <span> 4. Requisitos de Participación</span>
                        <p>
                            Todos los participantes deben tener al menos 18 años de edad o contar con la autorización y acompañamiento de un adulto responsable.
                            Los participantes deben cumplir con los requisitos físicos y médicos necesarios para realizar las caminatas. Es recomendable consultar 
                            a un médico antes de participar.Se requiere que los participantes asistan a una sesión informativa previa al Evento, 
                            que será programada por Biapora.
                        </p>
                    </div>
                    <div class="sub-contenido">
                        <span> 6. Responsabilidad y Exoneración de Responsabilidad</span>
                        <p>
                            Los participantes asumen toda la responsabilidad por cualquier lesión, pérdida o daño que pueda ocurrir durante el Evento.
                            Biapora y sus afiliados no se hacen responsables por lesiones personales, daños a la propiedad o pérdidas que puedan ocurrir durante el Evento.
                            Al participar, los asistentes aceptan exonerar a Biapora de cualquier responsabilidad relacionada con el Evento.

                        </p>
                    </div>
                    <div class="sub-contenido">
                        <span>7.  ⁠Fotografías y Medios</span>
                        <p>
                            Al participar en el Evento, los asistentes consienten el uso de sus imágenes y videos para fines promocionales y de marketing por parte de Biapora.
                            Los participantes pueden solicitar la exclusión de su imagen de los materiales promocionales enviando una solicitud por escrito a la organización.
                        </p>
                    </div>
                    <div class="sub-contenido">
                        <span>8. Modificaciones y Cancelación</span>
                        <p>
                            Biapora se reserva el derecho de modificar estos Términos y Condiciones, así como cualquier aspecto del Evento, en caso de ser necesario.
                            En caso de modificaciones significativas, los participantes serán notificados con la mayor antelación posible.

                        </p>
                    </div>
                    <div class="sub-contenido">
                        <span>9. ⁠Ley Aplicable</span>
                        <p>
                            Estos Términos y Condiciones se regirán por las leyes vigentes en la jurisdicción donde se lleva a cabo el Evento.
                        </p>
                    </div>
                    <div class="sub-contenido">
                        <span>10. ⁠Ley Aplicable</span>
                        <p>
                            Para cualquier consulta relacionada con estos Términos y Condiciones o el Evento, por favor comuníquese con nosotros a través de <em>biapora@gmail.com</em> o <em>310-222-2323</em>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="comunicado">
                <div class="titulo">
                    <h3>Comunicado 2 - Hoteles Aliados</h3>
                </div>
                <div class="contenido-comunicado">
                    <p>
                        ¡Hola y bienvenidos a Biapora! Nos complace presentarles nuestras recomendaciones de hoteles para su estadía en San José del Guaviare durante el 1er Encuentro Nacional de Caminantes 2024. Hemos seleccionado cuidadosamente estos alojamientos para asegurarles una experiencia cómoda y agradable mientras disfrutan de este emocionante evento. En esta página encontrarán opciones que se adaptan a diferentes preferencias y presupuestos, para que puedan concentrarse en disfrutar de la aventura y la camaradería del encuentro. ¡Esperamos que encuentren el lugar perfecto para su estancia!   
                    </p>
                </div>
                <div class="tabla-hospedaje">
                    <table>
                        <tr>
                            <th>Item</th>
                            <th>Hotel</th>
                            <th>Direccion</th>
                            <th>Contacto</th>
                        </tr>
                        <tr>
                            <td data-label="Item">1</td>
                            <td data-label="Hotel">PÓRTICO</td>
                            <td data-label="Dirección">BARRIO EL CENTRO</td>
                            <td data-label="Número">(+57) 310-688-5676</td>
                        </tr>
                        <tr>
                            <td data-label="Item">2</td>
                            <td data-label="Hotel">YURAPARY</td>
                            <td data-label="Dirección">BARRIO EL CENTRO</td>
                            <td data-label="Número">(+57) 320-245-9342</td>
                        </tr>
                        <tr>
                            <td data-label="Item">3</td>
                            <td data-label="Hotel">EL PRADO</td>
                            <td data-label="Dirección">BARRIO EL CENTRO</td>
                            <td data-label="Número">(+57) 302-862-4787</td>
                        </tr>
                        <tr>
                            <td data-label="Item">4</td>
                            <td data-label="Hotel">CAPITAL SAS</td>
                            <td data-label="Dirección">BARRIO EL CENTRO</td>
                            <td data-label="Número">(+57) 310-310-5634 </td>
                        </tr>
                        <tr>
                            <td data-label="Item">5</td>
                            <td data-label="Hotel">MANAURE</td>
                            <td data-label="Dirección">BARRIO EL CENTRO</td>
                            <td data-label="Número">(+57) 311-800-9933</td>
                        </tr>
                        <tr>
                            <td data-label="Item">6</td>
                            <td data-label="Hotel">EL JARDÍN</td>
                            <td data-label="Dirección">BARRIO EL CENTRO</td>
                            <td data-label="Número">(+57) 322-337-7909</td>
                        </tr>
                        <tr>
                            <td data-label="Item">7</td>
                            <td data-label="Hotel">PANORAMA</td>
                            <td data-label="Dirección">BARRIO EL CENTRO</td>
                            <td data-label="Número">(+57) 321-798-7800</td>
                        </tr>
                        <tr>
                            <td data-label="Item">8</td>
                            <td data-label="Hotel">AEROPUERTO SAS</td>
                            <td data-label="Dirección">FRENTE AEROPUERTO</td>
                            <td data-label="Número">(+57) 314-357-5133</td>
                        </tr>
                        <tr>
                            <td data-label="Item">9</td>
                            <td data-label="Hotel">TEPUY</td>
                            <td data-label="Dirección">BARRIO EL DORADO</td>
                            <td data-label="Número">(+57) 310-744-9643</td>
                        </tr>
                        <tr>
                            <td data-label="Item">10</td>
                            <td data-label="Hotel">EL REFUGIO</td>
                            <td data-label="Dirección">BARRIO EL CENTRO</td>
                            <td data-label="Número">(+57) 318-228-7292</td>
                        </tr>
                        <tr>
                            <td data-label="Item">11</td>
                            <td data-label="Hotel">WIMPY</td>
                            <td data-label="Dirección">BARRIO EL CENTRO</td>
                            <td data-label="Número">(+57) 310-325-0011</td>
                        </tr>
                        <tr>
                            <td data-label="Item">12</td>
                            <td data-label="Hotel">LA FONTANA</td>
                            <td data-label="Dirección">BARRIO EL CENTRO</td>
                            <td data-label="Número">(+57) 310-314-3466</td>
                        </tr>
                        <tr>
                            <td data-label="Item">13</td>
                            <td data-label="Hotel">EL VIAJERO</td>
                            <td data-label="Dirección">BARRIO PORVENIR</td>
                            <td data-label="Número">(+57) 321-800-1117</td>
                        </tr>
                        <tr>
                            <td data-label="Item">14</td>
                            <td data-label="Hotel">QUINTO NIVEL</td>
                            <td data-label="Dirección">BARRIO 2O DE JULIO</td>
                            <td data-label="Número">(+57) 310-757-2681</td>
                        </tr>
                        <tr>
                            <td data-label="Item">15</td>
                            <td data-label="Hotel">PUERTA DE ORIO</td>
                            <td data-label="Dirección">BARRIO PORVENIR</td>
                            <td data-label="Número">(+57) 310-885-7015</td>
                        </tr>
                        <tr>
                            <td data-label="Item">16</td>
                            <td data-label="Hotel">SHALOM</td>
                            <td data-label="Dirección">BARRIO MODELO</td>
                            <td data-label="Número">(+57) 320-840-5576</td>
                        </tr>
                        <tr>
                            <td data-label="Item">17</td>
                            <td data-label="Hotel">GARDEN HOUSE</td>
                            <td data-label="Dirección">BARRIO EL CENTRO</td>
                            <td data-label="Número">(+57) 311-251-5629</td>
                        </tr>
                        <tr>
                            <td data-label="Item">18</td>
                            <td data-label="Hotel">HORIZONTE GUAVIARE</td>
                            <td data-label="Dirección">BARRIO BELLO HORIZONTE</td>
                            <td data-label="Número">(+57) 315-399-5001</td>
                        </tr>
                        <tr>
                            <td data-label="Item">19</td>
                            <td data-label="Hotel">CENTRO DE RECREACIONAL LAS PALMAS</td>
                            <td data-label="Dirección">BARRIO LA GRANJA</td>
                            <td data-label="Número">(+57) 310-245-6788</td>
                        </tr>
                        <tr>
                            <td data-label="Item">20</td>
                            <td data-label="Hotel">RESIDENCIAS PANAMERICANA</td>
                            <td data-label="Dirección">BARRIO EL CENTRO</td>
                            <td data-label="Número">(+57) 317-482-9543</td>
                        </tr>
                        <tr>
                            <td data-label="Item">21</td>
                            <td data-label="Hotel">HOSPEDAJE KAROLL</td>
                            <td data-label="Dirección">BARRIO PRIMERO DE OCTUBRE</td>
                            <td data-label="Número">(+57) 314-249-8601</td>
                        </tr>
                        <tr>
                            <td data-label="Item">22</td>
                            <td data-label="Hotel">BRISAS DEL RÍO</td>
                            <td data-label="Dirección">BARRIO PRIMERO DE OCTUBRE</td>
                            <td data-label="Número">(+57) 310-857-0622</td>
                        </tr>
                        <tr>
                            <td data-label="Item">23</td>
                            <td data-label="Hotel">NELLER PLAZA</td>
                            <td data-label="Dirección">BARRIO LA ESPERANZA</td>
                            <td data-label="Número">(+57) 312-540-5594</td>
                        </tr>
                        <tr>
                            <td data-label="Item">24</td>
                            <td data-label="Hotel">POSADA GUAVIARENSE</td>
                            <td data-label="Dirección">BARRIO EL CENTRO</td>
                            <td data-label="Número">(+57) 350-562-2825</td>
                        </tr>
                        <tr>
                            <td data-label="Item">25</td>
                            <td data-label="Hotel">RESIDENCIA SAN JOSÉ PLAZA</td>
                            <td data-label="Dirección">BARRIO EL CENTRO</td>
                            <td data-label="Número">(+57) 310-333-4240</td>
                        </tr>
                        <tr>
                            <td data-label="Item">26</td>
                            <td data-label="Hotel">POSADA CAMPESTRE ECO RAUDAL</td>
                            <td data-label="Dirección">BARRIO ALTOS DE SAN JORGE</td>
                            <td data-label="Número">(+57) 315-250-5519</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<style>

    section {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .container {
        width: 80%;
        text-align: left;
    }

    .texto-principal {
        margin-top: 20px;
        text-align: justify;
    }

    .comunicados {
        margin-top: 50px;
    }

    .comunicado {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .comunicado .tabla-hospedaje {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }  

    .comunicado .tabla-hospedaje table {
        width: 100%;
        border-collapse: collapse;
    }

    .tabla-hospedaje th, .tabla-hospedaje td {
        text-align: left;
        padding: 12px;
    }

    .tabla-hospedaje th {
        background-color: #17ab5c;
        color: white;
    }

    .tabla-hospedaje tr:nth-child(even) {
       background-color: #f2f2f2;
    }

    .tabla-hospedaje tr:hover {
        background-color: #ddd;
    }

    .tabla-hospedaje th, .tabla-hospedaje td {
        border-bottom: 1px solid #ddd;  
    }

    .tabla-hospedaje table, .tabla-hospedaje th, .tabla-hospedaje td {
        border: 1px solid #ddd;
        border-collapse: collapse;
    }

    .tabla-hospedaje th, .tabla-hospedaje td {
        padding: 15px;
        font-size: 16px;
    }

    .tabla-hospedaje td:first-child {
        font-weight: bold;
        color: #333;
    }

    .tabla-hospedaje table {
        border-radius: 10px;
        overflow: hidden;
    }

    .tabla-hospedaje th:first-child {
        border-top-left-radius: 10px;
    }

    .tabla-hospedaje th:last-child {
        border-top-right-radius: 10px;
    }

    .tabla-hospedaje tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
    }

    .tabla-hospedaje tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }

    .titulo {
        font-size: 1.2rem;
        font-weight: bold;
        background-color: #17ab5c;
        padding: 10px;
        border-radius: 10px;
    }

    .contenido-comunicado {
        margin-top: 20px;
    }

    .contenido-comunicado .sub-contenido {
        margin-top: 20px;
    }

    .contenido-comunicado .sub-contenido span {
        font-weight: bolder;
    }

    .contenido-comunicado .sub-contenido p {
        margin-top: 10px;
        margin-left: 20px;
    }

    @media screen and (max-width: 600px) {

        .tabla-hospedaje table, .tabla-hospedaje thead, .tabla-hospedaje tbody, .tabla-hospedaje th, .tabla-hospedaje td, .tabla-hospedaje tr {
            display: block;
        }

        .tabla-hospedaje tr {
            margin-bottom: 15px;
        }

        .tabla-hospedaje th {
            display: none;
        }

        .tabla-hospedaje td {
            padding-left: 50%;
            text-align: right;
            position: relative;
        }

        .tabla-hospedaje td::before {
            content: attr(data-label);
            position: absolute;
            left: 10px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
        }
}


</style>