---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Content from '../components/enterate-components/Content.astro';
import Footer from '../components/Footer.astro';
---



<Layout title="Andantes del Guaviare">
    <main>
        <Nav/>
        <Content/>
        <Footer />
    </main>
</Layout>  