---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Titulo from '../components/eventos-components/Titulo.astro';
import EventosPasados from '../components/eventos-components/EventosPasados.astro';
---


<Layout title="Andantes del Guaviare">
    <main>
        <Nav/>
        <Titulo/>
        <EventosPasados/>
    </main>
</Layout>   