---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Titulo from '../components/index-components/Titulo.astro';
import ProximosEventos from '../components/index-components/ProximosEventos.astro';
import ConElApoyo from '../components/index-components/ConElApoyo.astro';
import Reseñas from '../components/index-components/Reseñas.astro';
---

<Layout title="Andantes del Guaviare">
	<main>
		<Nav />
		<Titulo />
		<ProximosEventos />	
		<ConElApoyo />
		<Reseñas />
	</main>
</Layout>
