---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Titulo from '../components/nosotros-components/Titulo.astro';
import Identidad from '../components/nosotros-components/Identidad.astro';
import Encuentros from '../components/nosotros-components/Encuentros.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Andantes del Guaviare">
	<main>
		<Nav />
        <Titulo />
        <Identidad />
        <Encuentros />
        <Footer />
	</main>
</Layout>