---
import { Image } from "astro:assets";
---

<section>
    <div class="container">
        <h2>CON EL APOYO DE</h2>
        <div class="avatar-container-desktop">
            <Image src="https://storage.googleapis.com/andantes-del-guaviare/alcadia-retorno-png.png" alt="Image" width="175px" height="140px" class="img-desktop"/>
            <Image src="https://storage.googleapis.com/andantes-del-guaviare/alcaldia-calamar-png.png" alt="Image" width="175px" height="140px" class="img-desktop"/>
            <Image src="https://storage.googleapis.com/andantes-del-guaviare/alcaldia-sanjose-png.png" alt="Image" width="175px" height="140px" class="img-desktop"/>
            <Image src="https://storage.googleapis.com/andantes-del-guaviare/empoagua-png.png" alt="Image" width="175px" height="140px" class="img-desktop"/>
            <Image src="https://storage.googleapis.com/andantes-del-guaviare/energuaviare-png.png" alt="Image" width="175px" height="140px" class="img-desktop"/>
            <Image src="https://storage.googleapis.com/andantes-del-guaviare/gobernacion-del-guaviare.png" alt="Image" width="175px" height="140px" class="img-desktop"/>
        </div>
    </div>
</section>


<style>
    *{
        box-sizing: border-box;
        margin: 0;
    }

    section {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        text-align: center;
    }

    section .container {
        /* background: yellowgreen; */
        width: 90%;

    }

    section .container h2 {
        font-size: 30px;
    }

    section .container .avatar-container-desktop {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-items: center;
        margin-top: 30px;

    }


    @media (max-width: 768px) {
        section .container .avatar-container-desktop {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }

        section .container h2 {
            font-size: 25px;
        }

        section .container .avatar-container-desktop .img-desktop {
            width: 140px;
            height: 90px;
        }
    }


</style>