---
import { Image } from "astro:assets";
---

<section>
    <div class="text-container">
        <h2>PRÓXIMOS EVENTOS</h2>
        <div class="img-container-mobile">
            <Image src="https://storage.googleapis.com/andantes-del-guaviare/02-andantes-del-guaviare.jpg" alt="Image" width="300px" height="150px" class="img-mobile"/>
        </div>
        <div class="text">
            <span>¡Prepárate para una experiencia inolvidable en el 1er ENCUENTRO REGIONAL DE CAMINANTES 2024 en San José del Guaviare!</span>
            <p> 
                Este evento te invita a explorar los impresionantes paisajes del departamento del Guaviare, un auténtico paraíso natural en el corazón de Colombia. 
                Disfruta de caminatas fascinantes a través de la majestuosa Serranía de la Lindosa, donde podrás maravillarte con los enigmáticos pictogramas de la Cueva 
                de los Tigrillos y las asombrosas formaciones rocosas de la Piedra del Mico. Deleita tus sentidos con la vibrante biodiversidad de la selva amazónica y 
                los exuberantes paisajes de los caños de la región, como el Caño Cristales, conocido por sus increíbles colores. 
                No te pierdas la oportunidad de conectar con la naturaleza en su estado más puro y compartir esta aventura con otros apasionados del senderismo. 
                ¡El Guaviare te espera para una caminata que será, sin duda, un hito en tu vida!
            </p>
        </div>
        <div class="button">
            <button>
                <a href="https://forms.gle/UF5CSDSqbYjfXxGw6" target="_blank">INSCRÍBETE AQUÍ</a>
            </button>
        </div>
    </div>
    <div class="image-container-desktop">
        <Image src="https://storage.googleapis.com/andantes-del-guaviare/02-andantes-del-guaviare.jpg" alt="Image" width="600px" height="400px" clas="img-desktop"/>
    </div>

</section>

<style>
    *{
        box-sizing: border-box;
        margin: 0;
    }

    section {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        margin-top: 30px;
    }

    section .text-container {
        width: 45%;
        padding: 20px 10px 20px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    section .text-container .img-container-mobile {
        display: none;
    }

    section .text-container h2 {
        font-size: 30px;
        text-align: center;
    }

    section .text-container h2, section .text-container .text {
        margin-bottom: 30px;
    }

    section .text-container .text {
        margin-left: 20px;
    }

    section .text-container .text span {
        font-weight: bold;
    }

    section .text-container .text p {
        margin-top: 20px;
    }

    section .text-container .button {
        margin-top: 5px;
        display: flex;
        justify-content: center;
 
    }

    section .text-container .button button {
        background: #17ab5c;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        width: 150px;
        height: 50px;
        font-weight: bold;
    }

    section .text-container .button a {
        text-decoration: none;
        color: white;
    }
    
    section .image-container-desktop {
        background-color: bisque;
        width: 600px;
        height: 400px;
    }

    section .image-container .img-desktop {
        width: 600px;
        height: 400px;
    }

    @media (max-width: 768px) {
        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 0;
            margin-top: 10px;
        }

        section .text-container {
            width: 100%;
            display: flex;
            align-items: center;
        }

        section .text-container h2 {
            font-size: 25px;
        }

        section .text-container h2, section .text-container .text {
            margin-bottom: 15px;
        }

        section .text-container .img-container-mobile {
            display: block;
            width: 300px;
            height: 150px;
        }

        section .image-container-desktop {
            display: none;
        }

        section .image-container-mobile .img-mobile {
            object-fit: cover;
        }

        section .text-container .text {
            margin-top: 20px;
            width: 300px;
        }

        section .text-container .text p {
            font-size: 14px;
        }

        section .text-container .button {
            margin-top: 10px;
        }

        section .text-container .button button {
            width: 180px;
            height: 40px;
        }
    }

</style>

