---
import { Image } from "astro:assets";
---

<section>
    <div class="container">
        <h2>OPINIONES DE NUESTROS ANDANTES</h2>
        <div class="reseñas-container">
            <div class="reseña">
                <Image src="https://storage.googleapis.com/andantes-del-guaviare/04-andantes-del-guaviare.png" alt="Image" width="300px" height="150px" class="img"/>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Esse quibusdam et similique, nostrum nihil provident nemo 
                    error mollitia facilis, ut quis libero aspernatur saepe minus 
                    temporibus ipsum sit! Asperiores, culpa.
                </p>
            </div>
            <div class="reseña">
                <Image src="https://storage.googleapis.com/andantes-del-guaviare/04-andantes-del-guaviare.png" alt="Image" width="300px" height="150px" class="img"/>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Esse quibusdam et similique, nostrum nihil provident nemo 
                    error mollitia facilis, ut quis libero aspernatur saepe minus 
                    temporibus ipsum sit! Asperiores, culpa.
                </p>
            </div>
            <div class="reseña">
                <Image src="https://storage.googleapis.com/andantes-del-guaviare/04-andantes-del-guaviare.png" alt="Image" width="300px" height="150px" class="img"/>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Esse quibusdam et similique, nostrum nihil provident nemo 
                    error mollitia facilis, ut quis libero aspernatur saepe minus 
                    temporibus ipsum sit! Asperiores, culpa.
                </p>
            </div>
            <div class="reseña">
                <Image src="https://storage.googleapis.com/andantes-del-guaviare/04-andantes-del-guaviare.png" alt="Image" width="300px" height="150px" class="img"/>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Esse quibusdam et similique, nostrum nihil provident nemo 
                    error mollitia facilis, ut quis libero aspernatur saepe minus 
                    temporibus ipsum sit! Asperiores, culpa.
                </p>
            </div>
        </div>
    </div>

    <style>
        section {
            width: 100%;
            background-color: #17ab5c;
            text-align: center;
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }

        section .container {
            width: 90%;
        }

        section .container .reseñas-container {
            margin-top: 30px;
            display: grid;  
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        section .container .reseñas-container .reseña .img {
            width: 80px
        }

    </style>